[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
paho-mqtt = "*"

[dev-packages]
pytest-watch = "*"
pytest = "*"

[requires]
python_version = "3"

[scripts]
"start" = "python app.py"
